
<mat-toolbar>
    <!-- <button mat-icon-button class="burgerButton" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span>
        Shelf Simulator '99
    </span>
</mat-toolbar>


<mat-sidenav-container id="mat-sidenav-container">
    <mat-sidenav id="sidenav" mode="over"   (opened)="events.push('open!')"
                                            (closed)="events.push('close!')">
        <!-- <form id="form">
            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="myfile" (change)="onSelectFile($event)" multiple>
            </form> 
            <div id="controlPanel">
            control pannel: <br>
                <div class="subPanel">
                toggle images on/off:<br>
                <button id="romButton" (click)='this.toggleImg("#romImg")'>rom</button>
                <button id="garruckButton" (click)='toggleImg("#garruck")'>garruck</button>
            </div>
            <br>
            <div class="subPanel">
                <label for="wallColor">Paint the wall:</label>
                <input type="color" id="wallColor" [value]="colorValue" (change)="paintWall()">
            </div>
            </div> -->

    </mat-sidenav>
    <mat-sidenav-content id="mat-sidenav-content">
        <div id="firstDiv">

            <app-shelf></app-shelf>
            
            </div>
    </mat-sidenav-content>
</mat-sidenav-container>



